kubectl delete -f galera-3-external-access.yml
kubectl delete -f galera-3-haproxy.yml
kubectl delete -f galera-3-nodes-backup.yml
kubectl delete -f galera-3-seed.yml
sleep 30s
kubectl apply -f galera-3-purge-volumes-jobs.yml
sleep 30s
kubectl delete -f galera-3-purge-volumes-jobs.yml
